a {
  color: #F4407E !important;
  text-decoration: underline;
}

.u-text-custom-color-1 .u-svg-link {
  fill: #61cbff;
}

.u-custom-color-1 {
  background-color: #61cbff;
}

#sammelfahrten-container {
  margin: 15px !important;
}

#sammelfahrt-desktop-text {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

#sammelfahrt-mobile-text {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
  
/* The Modal (background) */
.calendar-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.calendar-modal-content {
  display: flex;
  background-color: #fefefe;
  margin: auto;
  padding: 20px 0px 20px 20px;
  border: 1px solid #888;

  width: 98vw;
  height: 98vh;
  /*
  max-height: 80vh;*/
}

.calendar-modal-content iframe {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* The Close Button */
.calendar-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.calendar-modal-close:hover,
.calendar-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button-unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-top: -15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button { 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.25s;
  cursor: pointer;
}

.button5 {
  background-color: #61cbff;
  color: #fff;
  border: 2px solid #61cbff;
}

.button5:hover {
  background-color: transparent;
  color: #61cbff;
}

.button6:hover {
  background-color: #61cbff;
  color: #fff;
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 60px;
  min-height: 16px;
  width: 60px;
  min-width: 16px;
  margin: 4px -60px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-shape-1 {
  height: 426px;
  width: 818px;
  background-image: none;
  margin: 48px 51px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 818px;
  height: 426px;
  margin: -426px 51px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 134px;
  width: 500px;
  height: auto;
  margin: -500px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.25rem;
  font-family: CantoraOne;
  margin: 31px 1px 0;
}

.u-section-1 .u-image-2 {
  width: 344px;
  height: 344px;
  margin: -6px 310px 0 auto;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 710px;
  min-height: 219px;
  margin: 94px auto 0 72px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 36px;
  padding-right: 36px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 22px auto 0 4px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 1px 4px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 8px 4px 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  margin: -185px auto 0 829px;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  width: 160px;
  margin: 0 auto 0 auto;
  padding-left: 10px;
  position: relative;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 71px;
}

.u-section-1 .u-social-icons-2 {
  bottom: 250px;
  left: 400px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-right: 288px;
  }

  .u-section-1 .u-group-2 {
    width: 549px;
    min-height: 275px;
    margin-top: 88px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -220px;
    margin-left: 684px;
  }

  .u-section-1 .u-social-icons-2 {
    bottom: 250px;
    left: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-shape-1 {
    height: 375px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 375px;
    margin-top: -375px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -449px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-image-2 {
    width: 284px;
    height: 280px;
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    width: 350px;
    min-height: 349px;
    margin-top: 62px;
    margin-left: 35px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 4px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 23px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -300px;
    margin-right: 79px;
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-2 {
    bottom: 400px;
    left: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-1 .u-group-1 {
    min-height: 72px;
    width: 329px;
    margin-top: -392px;
    margin-left: -19px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    width: 194px;
    height: 181px;
    margin-top: 33px;
  }

  .u-section-1 .u-group-2 {
    min-height: 257px;
    margin-top: 126px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 25px;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 58px;
    margin-right: auto;
    margin-left: 51px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 150px;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-1 .u-group-1 {
    min-height: 109px;
    margin-top: -395px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 84px;
    min-height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 35px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 952px;
}

.u-section-2 .u-shape-1 {
  width: 739px;
  height: 695px;
  margin: 107px 76px 0 auto;
}

.u-section-2 .u-image-1 {
  height: 489px;
  width: 489px;
  background-image: url("/images/stocherkahn.jpeg");
  background-position: 50% 50%;
  margin: -626px auto 0 420px;
}

.u-section-2 .u-group-1 {
  width: 385px;
  min-height: 478px;
  margin: -383px auto 60px 94px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  background-image: none;
  font-size: 1rem;
  margin: 30px auto 0 0;
  padding: 14px 38px 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-2 .u-shape-1 {
    width: 645px;
    height: 607px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 457px;
    width: 457px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 505px;
    margin-left: 55px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 557px;
    height: 525px;
  }

  .u-section-2 .u-image-1 {
    height: 416px;
    width: 416px;
    margin-top: -470px;
    margin-right: 42px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
    margin-top: -294px;
    margin-bottom: 54px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-2 .u-shape-1 {
    height: 481px;
    width: 513px;
  }

  .u-section-2 .u-image-1 {
    height: 404px;
    width: 404px;
    margin-top: -441px;
    margin-right: 54px;
  }

  .u-section-2 .u-group-1 {
    min-height: 453px;
    margin-top: -43px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 24px 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-2 .u-shape-1 {
    height: 329px;
    width: 329px;
  }

  .u-section-2 .u-image-1 {
    height: 279px;
    width: 279px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 529px;
    margin-top: 21px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 978px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 130px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 475px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 400px;
  height: 400px;
  object-position: 50% 0%;
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 475px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 4.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  line-height: 36px;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 30px auto 0 0;
  padding: 11px 41px 11px 40px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 188px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 60px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 60px;
    margin-left: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-4 {
  min-height: 959px;
}

.u-section-4 .u-shape-1 {
  height: 588px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-shape-2 {
  width: 1098px;
  height: 382px;
  background-image: none;
  margin: -229px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-image-1 {
  width: 589px;
  height: 589px;
  object-position: 100% 50%;
  background-position: 50% 50%;
  background-image: url("/images/stocherkahnfahrt.jpeg");
  margin: -681px calc(((100% - 1140px) / 2) + 81px) 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 406px;
  width: 609px;
  height: auto;
  margin: -191px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 400;
  margin: 66px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-style: normal;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-2 {
    width: 859px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    object-position: 38.51% 50%;
    margin-right: calc(((100% - 940px) / 2) + 81px);
  }

  .u-section-4 .u-group-1 {
    width: 575px;
    min-height: 409px;
    margin-top: -119px;
    margin-bottom: 20px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 24px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1042px;
  }

  .u-section-4 .u-shape-1 {
    height: 615px;
  }

  .u-section-4 .u-shape-2 {
    width: 694px;
    margin-top: -256px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 555px;
    height: 555px;
    margin-right: calc(((100% - 720px) / 2) + 73px);
  }

  .u-section-4 .u-group-1 {
    width: 574px;
    min-height: 326px;
    margin-top: -74px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 931px;
  }

  .u-section-4 .u-shape-1 {
    height: 503px;
    margin-top: 4px;
  }

  .u-section-4 .u-shape-2 {
    height: 333px;
    width: 506px;
    margin-top: -255px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 409px;
    height: 409px;
    margin-top: -491px;
    margin-right: calc(((100% - 540px) / 2) + 42px);
  }

  .u-section-4 .u-group-1 {
    width: 454px;
    min-height: 434px;
    margin-top: -66px;
    margin-left: calc(((100% - 540px) / 2) + -33px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 823px;
  }

  .u-section-4 .u-shape-1 {
    height: 375px;
  }

  .u-section-4 .u-shape-2 {
    height: 196px;
    width: 340px;
    margin-top: -196px;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 277px;
    height: 277px;
    margin-top: -326px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 418px);
  }

  .u-section-4 .u-group-1 {
    width: 296px;
    min-height: 492px;
    margin-top: -44px;
    margin-bottom: 49px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1159px;
}

.u-section-5 .u-text-1 {
  font-size: 4.25rem;
  font-weight: 400;
  margin: 110px auto 0 13px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 19px -13px 0 13px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1143px;
  margin: 24px auto 60px -16px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 343px;
  width: 500px;
  margin: 0 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 19px 30px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 600;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-5 .u-image-1 {
    height: 315px;
    width: 460px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 240px;
    width: 350px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 107px;
    margin-right: 18px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 29px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1724px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 233px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 667px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 86px 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 521px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 46px;
}

.u-section-6 .u-text-1 {
  margin: 0 14px;
}

.u-section-6 .u-text-2 {
  margin: 11px 7px 0 14px;
}

.u-section-6 .u-text-3 {
  margin: 0 14px;
}

.u-section-6 .u-text-4 {
  margin: 0 14px;
}

.u-section-6 .u-text-5 {
  margin: 0 14px;
}

.u-section-6 .u-text-6 {
  margin: 43px 14px 0;
}

.u-section-6 .u-text-7 {
  margin: 11px 7px 0 14px;
}

.u-section-6 .u-text-8 {
  margin: 0 7px 0 14px;
}

.u-section-6 .u-text-9 {
  margin: 0 7px 0 14px;
}

.u-section-6 .u-text-10 {
  margin: 0 7px 0 14px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

#header-div {
  margin-top: 150px;
}

@media (max-width: 1199px) {
  #header-div {
    margin-top: 150px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  #header-div {
    margin-top: 100px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {

  #header-div {
    margin-top: 50px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -179px;
    margin-right: -250px;
    margin-left: 270px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: -250px;
    margin-left: 270px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-right: -250px;
    margin-left: 270px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-right: -250px;
    margin-left: 270px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-right: -250px;
    margin-left: 270px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  /*.u-section-6 .u-layout-cell-1 {
     min-height: 434px; 
  }*/

  #header-div {
    margin-top: 50px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 191px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -164px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-top: -188px;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-top: -1px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 500px;
  }
}